server:
  port: ${SERVER_PORT:9968}

spring:
  application:
    name: notification-service
  main:
    web-application-type: servlet
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
  mail:
    host: ${MAIL_HOST:localhost}
    port: ${MAIL_PORT:1025}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail.smtp.auth: ${MAIL_SMTP_AUTH:false}
      mail.smtp.starttls.enable: ${MAIL_SMTP_STARTTLS:false}
  config:
    import: optional:classpath:application-legacy.properties
  datasource:
    url: jdbc:postgresql://localhost:5433/petclinic
    username: postgres
    password: 12345678
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
      group:
        liveness:
          include: livenessState
        readiness:
          include: readinessState

petclinic:
  notifications:
    service-enabled: true
    email:
      enabled: true
      from: ${NOTIFICATIONS_EMAIL_FROM:notifications@petclinic.test}
      owner-recipient: ${NOTIFICATIONS_OWNER_EMAIL:owner@example.com}
      vet-recipient: ${NOTIFICATIONS_VET_EMAIL:vet@example.com}
